*{
    box-sizing:border-box;
}
body, html{
    height: 100%;
    font-family:'Inconsolata', monospace;
    font-size: 25px;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
     height: 60px;
     background-color: #012B5C;
     display: flex;
     align-items: center;
     width: 100%;
     position: fixed;
     padding-right: 78px;
     padding-left: 78px;
     color: #F5F4FF;
 }
 .hed1{
    display: flex;
    align-items: center;
    width: 45%;
 }
 .hed1 p{
    display: inline;
    margin-left: 20px;
 }
 .hed2{
    width: 55%;
 }
 .hed2 a{
    font-weight: 700;
    font-size: 30px;
    width: 55%;
    color: #F5F4FF;
 }

 .main{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 110px;
    font-size: 20px;
}
.title{
    text-align: center;
    color: #012B5C;
    font-size: 25px;
    margin-bottom: 20px;
}
.main img{
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.form_back{
    background-color: #F5F4FF;
    color: #012B5C;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn_back{
    display: block;
    text-align: center;
}
.btn_back img{
    display: inline;
}
input[type=submit]{
    background-color: #012B5C;
    color: #F5F4FF;
    box-shadow: 1px 1px 3px 1px rgb(70, 69, 69);
    transition: box-shadow 0.01s linear;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
 }

 input[type=submit]:hover{
    box-shadow: inset 1px 1px 3px 1px rgb(0, 0, 0);
}

input[type="text"]{
    border:2px solid #012B5C;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

select{
    border:2px solid #012B5C;
    background-color: white;
    border-radius: 10px;
    color: #012B5C;
    font-size: 17px;
    padding: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.footer{
    width: 100%;
    background-color: #012B5C;
}
.foot{
    height: 30px;
}